services.html
{% extends "base.html" %}

{% block title %}Services{% endblock %}

{% block content %}
<section>
    <h1>Our Services</h1>
    <ul>
        <li>Installation of Solar PV systems 
            Wind, Bio-energy Systems</li>
        <li>Energy Auditing</li>
        <li>Design, Execution of power systems</li>
        <li>Turnkey,Semi-Turnkey Contract</li>
        <li>Power Consultancy services</li>
        <li>Laisining with Government Organizations</li>
        <li>Training and Awareness programs Educational institutions, Professionals,NGO's</li>
    </ul>
</section>
{% endblock %}
